.container {
  height: 100%;
  display: flex;
  margin-top: 56px;
}

@media (min-width:0px) and (orientation: landscape) {
  .container {
    margin-top: 48px;
  }
}

@media (min-width:600px) {
  .container {
    margin-top: 64px;
  }
}


.nav {
  width: 240px;
  flex-shrink: 0;
}

.main {
  position: relative;
  width: 100%;
}
