.container {
  height: 100%;
  display: flex;
  margin-top: 56px;
}

@media (min-width:0px) and (orientation: landscape) {
  .container {
    margin-top: 48px;
  }
}

@media (min-width:600px) {
  .container {
    margin-top: 64px;
  }
}


.nav {
  width: 240px;
  flex-shrink: 0;
}

.main {
  position: relative;
  width: 100%;
}

.progress {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.progressBlock {
  opacity: 0.5;
}

.contentContainer {
  background-color: #ffffff;
  padding: 2rem;
}

.appBar.appBarShift {
  left: 240px;
  width: calc(100% - 240px);
}

.appBar {
  background-color: #ffffff;
}

.appBar .hidden {
  display: none;
}

.appBar .toolbarText {
  margin-right: 0.5rem;
}
