.container {
  height: 100%;
  display: flex;
}

.nav {
  width: 240px;
  flex-shrink: 0;
}

.main {
  position: relative;
  width: 100%;
}

.progress {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.progressBlock {
  opacity: 0.5;
}
