.drawer {
  width: 240px;
}

.deleteIcon {
  /* visibility: hidden; */
  cursor: pointer;
  opacity: 0.2;
}

.deleteIcon:hover {
  opacity: 1;
}

.listItem {}

/* .listItem:hover .deleteIcon {
  visibility: visible;
} */

