.drawer {
  width: 240px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .arrow {
  margin-right: 16px;
}

.materialToolbar {
  min-height: 56px;
}

@media (min-width:0px) and (orientation: landscape) {
  .materialToolbar {
    min-height: 48px;
  }
}

@media (min-width:600px) {
  .materialToolbar {
    min-height: 64px;
  }
}
